---
import Layout from "C:/Users/Owner/tchsaero-site/src/layouts/Layout.astro";
---

<Layout title="About | TCHS Aero" pageHeading="About Us">
  <h2 class="text-2xl font-bold">About Us.</h2>
  <p class="mt-2">Why did we found TCHS Aero?</p>

  <h2 class="mt-8 text-2xl font-bold">Who we are.</h2>
  <h3 class="mt-2 text-xl font-semibold">Temple City High School’s autonomous aviation team.</h3>
  <p class="mt-3">
    Our team is working together to merge flight and artificial inteligence to create an optimized automated drone for the college-level SUAS competition in June 2026. Since the summer of 2024, we've been laying the groundwork by testing budgets, analyzing the difficulty of our craft, and planning our team structure.
    Now, we're ready to recruit and make TCHS Aero official.
  </p>

  <h2 class="mt-8 text-2xl font-bold">What do we do?</h2>

  <h3 class="mt-3 text-xl font-semibold">Hands-On Innovation</h3>
  <p class="mt-2">
    Our sub teams: Programming, Mechanical/Electrical, and Operations work together to create fully integrated systems. Students work with artificial intelligence, robotics, and engineering design in a competitive and fun environment!
  </p>

  <h3 class="mt-3 text-xl font-semibold">Competing at the Collegiate Level</h3>
  <p class="mt-2">
    We are preparing for the national SUAS competition, where our high school team will face off against university engineering programs from across the country.
  </p>

  <h2 class="mt-8 text-2xl font-bold">SPEAK TO US</h2>
  <h3 class="mt-2 text-xl font-semibold">Want to find out more about us?</h3>
  <p class="mt-2">
    If you’d like to learn more about our mission, our work in AI-powered flight, or opportunities to support the team, we’d be happy to connect.
  </p>

  <p class="mt-3">
    <a class="font-semibold text-blue-900 hover:underline" href="/contact">Contact</a>
  </p>
</Layout>
