---
import Layout from "C:/Users/Owner/tchsaero-site/src/layouts/Layout.astro";
---

<Layout title="News | TCHS Aero" pageHeading="News">
  <h2 class="text-2xl font-bold">Latest Events</h2>
  <p class="mt-2">Keep up with our ventures!</p>

  <h2 class="mt-8 text-2xl font-bold">La Rosa S.T.E.M. Night</h2>
  <h3 class="mt-2 text-xl font-semibold">Hey! Did you catch us at S.T.E.M. Night?</h3>
  <p class="mt-2">
    Thank you to all the parents and kids who showed interest in TCHS Aero, we had a lot of fun doing our live drone demo!
  </p>

  <h2 class="mt-8 text-2xl font-bold">Coming Soon</h2>
</Layout>
