---
import Layout from "C:/Users/Owner/tchsaero-site/src/layouts/Layout.astro";
---

<Layout title="Sponsor | TCHS Aero" pageHeading="Sponsor">
  <h2 class="text-2xl font-bold">Sponsorship Information</h2>
  <p class="mt-2">
    Your support helps us cover essential costs like components, equipment, travel, and competition fees. It gives our students the chance to learn, build, and compete on a national level.
  </p>

  <h2 class="mt-8 text-2xl font-bold">Sponsorship Info</h2>
  <h3 class="mt-2 text-xl font-semibold">Tiers</h3>
  <p class="mt-2">Tier benefits are accumulative. (Each tier has the perks of those below it.)</p>

  <div class="mt-4 space-y-2">
    <p class="font-semibold">Propeller Tier ($50+)</p>
    <p>Instagram feature</p>
    <p>Company logo + hyperlink on website</p>

    <p class="mt-4 font-semibold">Jet Engine Tier ($100+)</p>
    <p>Company logo on competition drone</p>
    <p>Company logo on TCHS Aero apparel</p>

    <p class="mt-4 font-semibold">Orbiter Tier ($200+)</p>
    <p>Featured company logo on website header</p>
    <p>Pinned Instagram feature with large banner</p>
  </div>

  <h2 class="mt-8 text-2xl font-bold">More Information</h2>
  <h3 class="mt-2 text-xl font-semibold">Sponsorship Booklet</h3>
  <p class="mt-2">
    Our
    <a class="font-semibold text-blue-900 hover:underline" href="https://drive.google.com/file/d/1DTWesr-XRaIzXfaZ27q7UR55uLS8CHEq/view" target="_blank" rel="noopener noreferrer">
      Sponsorship Booklet
    </a>
    contains a detailed introduction to our team and goes further in depth on our expenses.
  </p>

  <h2 class="mt-8 text-2xl font-bold">How to Sponsor</h2>
  <h3 class="mt-2 text-xl font-semibold">Contact Us!</h3>
  <p class="mt-2">
    Refer to the <a class="font-semibold text-blue-900 hover:underline" href="/contact">Contact</a> page for more information.
  </p>
</Layout>
